<template>
    <div class="comments">
        <!-- Comment create form -->
        <div class="create-comment">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="text-center create-comment__message_ico">
                            <img src="/images/message.png" alt="Сообщение" class="img-responsive">
                        </div>

                        <form @submit.prevent="validate" role="form">
                            <div class="col-sm-5">
                                <div class="form-group create-comment__mrgn-btm">
                                    <label for="name" class="required">Имя</label>
                                    <input v-validate="'required|min:4|max:50'"
                                           v-model="form.name"
                                           :class="{ 'error': errors.has('name') }"
                                           data-vv-as="Имя"
                                           type="text"
                                           name="name"
                                           class="form-control"
                                           id="name">
                                    <span v-show="errors.has('name')" class="error">{{ errors.first('name') }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="required">E-mail</label>
                                    <input v-validate="'required|email'"
                                           v-model="form.email"
                                           :class="{ 'error': errors.has('email') }"
                                           data-vv-as="E-mail"
                                           type="text"
                                           name="email"
                                           class="form-control"
                                           id="email">
                                    <span v-show="errors.has('email')" class="error">{{ errors.first('email') }}</span>
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-2">
                                <div class="form-group">
                                    <label for="message" class="required">Комментарий</label>
                                    <textarea v-validate="'required|min:4|max:300'"
                                              v-model="form.message"
                                              name="message"
                                              :class="{ 'error': errors.has('message') }"
                                              data-vv-as="Комментарий"
                                              id="message"
                                              rows="6"
                                              class="form-control"></textarea>
                                    <span v-show="errors.has('message')" class="error">{{ errors.first('message') }}</span>
                                </div>
                                <button :class="{'disabled': loading}"
                                        id="btn-add-comment"
                                        class="btn btn-danger pull-right">
                                    <span v-if="!loading">Записать</span>
                                    <span v-else> Загрузка.. <i v-if="loading" class="fa fa-spinner fa-spin"></i></span>
                                </button>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Comment create form -->

        <!-- Comment list -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="comments__title">Выводим комментраии</p>
                </div>

                <div class="col-sm-12 comments__col text-center">
                    <masonry :cols="{default: 3, 840: 2, 768: 1}" :gutter="30">
                        <div v-for="(comment, index) in comments" :key="index" class="comments__item">
                            <div v-if="(index + 1) % 2 == 0" class="comments__content comment__even">
                                <div class="comments__header">
                                    <span class="comments__name">
                                        {{ comment.name }}
                                    </span>
                                </div>
                                <div class="comments__email">
                                    {{ comment.email }}
                                </div>
                                <div class="comments__message">
                                    {{ comment.message }}
                                </div>
                            </div>
                            <div v-else="" class="comments__content comment__odd">
                                <div class="comments__header">
                                    <span class="comments__name">
                                        {{ comment.name }} - {{ index }}
                                    </span>
                                </div>
                                <div class="comments__email">
                                    {{ comment.email }}
                                </div>
                                <div class="comments__message">
                                    {{ comment.message }}
                                </div>
                            </div>
                        </div>
                    </masonry>
                </div>

            </div>
        </div>
        <!--/ Comment list -->
    </div>
</template>

<script>
    import Vue from 'vue'
    import { get, post } from '../helpers/api'
    import VueMasonry from 'vue-masonry-css'
    import ru from 'vee-validate/dist/locale/ru'
    import VeeValidate, { Validator } from 'vee-validate'

    Validator.localize('ru', ru);

    Vue.use(VueMasonry);
    Vue.use(VeeValidate, {
        locale: 'ru',
        delay: 0,
    });

    export default {
        data: function () {
            return {
                comments: [
                    {
                        name: '',
                        email: '',
                        message: '',
                    }
                ],
                form: {
                    name: '',
                    email: '',
                    message: '',
                },
                loading: false
            }
        },
        mounted() {
            get('/api/comment')
                .then((response) => {
                    this.comments = response.data.responseData
                })
                .catch(error => {
                    if (error.response) {
                        return false;
                    }
                });
        },
        methods: {
            validate () {
                this.$validator.validateAll().then(result => {
                    // Validation Failed
                    if ( ! result) return false;

                    // Show loader
                    this.loading = true;

                    // Send form data
                    post('/api/comment', this.form)
                        .then((response) => {
                            // Could not save data
                            if (response.data.error) {
                               return false;
                            }

                            // Add new comment in comment list
                            this.comments.push({
                                name: this.form.name,
                                email: this.form.email,
                                message: this.form.message,
                            });

                            this.clearForm();
                            this.loading = false;
                        })
                        .catch(error => {
                            if (error.response) {
                                return false;
                            }
                        });
                });
            },
            clearForm () {
                this.form.name  = '';
                this.form.email  = '';
                this.form.message = '';
                setTimeout(() => {
                    this.errors.clear();
                }, 1);
            },
        }
    }
</script>