@media screen and (max-width: 768px) {
  span.error { position: relative; }
  .create-comment form {
    .create-comment__mrgn-btm {
      margin-bottom: 15px;
    }
    #btn-add-comment {
      margin: 25px 0 75px 0;
    }
  }
}
@media screen and (max-width: 470px) {
  .logo {
    .logo__image {
      width: 60px;
    }
    .logo__name {
      font-size: 32px;
      padding: 19px 15px;
    }
  }
  .footer {
    .logo {
      padding-top: 45px;

      .logo__image { width: 35px; }
      .logo__name {
        font-size: 22px;
        padding: 0 10px;
      }
    }
  }
}