
// Body
$body-bg: #fff;
// Header
$header-bg: #2d3136;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-roboto: "Roboto Medium", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$text-color-light: #d7d7d7;
$required-color: #be393b;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-bg: #2f3338;
$input-border-color: rgba(255, 255, 255, 0.52);

// Comments
$comment-odd-bg: #e9eef3;
$comment-odd-header-bg: #4b596c;
$comment-odd-name-color: #fff;
$comment-odd-email-color: #6d737b;
$comment-odd-comment-color: #767582;

$comment-even-bg: #deebde;
$comment-even-header-bg: #58ad52;
$comment-even-name-color: #fff;
$comment-even-email-color: #58ad52;
$comment-even-comment-color: #767582;

// Panels
$panel-default-heading-bg: #fff;

// Footer
$footer-bg: #2a2d33;
$social-bg: #2f3338;
$social-border: #454648;
$social-color: #656566;
