
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Icons
@import "node_modules/font-awesome/css/font-awesome";



// Welcome
body {
  background-color: #FFFF;
  font-family: $font-family-roboto;
}

.navbar {
  background-color: $header-bg;
  min-height: 212px;
  margin-bottom: 0;
  border-radius: 0;

  .navbar-brand {
    height: auto;
    padding: 85px 15px;
  }
}
.logo {
  display: block;
  overflow: hidden;

  .logo__name {
    display: inline-block;
    font-size: 44px;
    color: $text-color-light;
    vertical-align: top;
    padding: 32px 25px;
  }
  .logo__image {
    display: inline-block;
    width: 85px;
  }
}
// Create comment
.create-comment {
  background-color: $header-bg;

  .create-comment__message_ico {
    width: 280px;
    margin: 0 auto 50px auto;
  }

  form {
    label {
      color: $text-color-light;
      font-size: 24px;
      font-weight: 200;
    }
    input, textarea {
      background-color: $input-bg;
      border: 1px solid $input-border-color;
      border-radius: 3px;
      padding: 32px 20px;
      font-size: 22px;
      color: $text-color-light;
      font-weight: 100;
    }
    textarea {
      padding: 15px 20px;
      resize: none;
    }
    .create-comment__mrgn-btm {
      margin-bottom: 67px;
    }
    #btn-add-comment {
      background-color: $required-color;
      font-size: 22px;
      color: $text-color-light;
      padding: 10px 25px;
      margin: 65px 0 75px 0;
    }
  }
}

// Comments
.comments {
  padding-bottom: 70px;

  .comments__col {
    padding-bottom: 30px;
  }
  .comments__title {
    padding: 85px 0 75px 0;
    font-size: 37px;
  }
  //.comments__item:nth-child(odd) div {
  .comment__odd {
    background-color: $comment-odd-bg;
    color: $comment-odd-comment-color;
    font-size: 22px;

    .comments__name {
      font-size: 24px;
      color: $comment-odd-name-color;
    }
    .comments__header {
      padding: 15px;
      background-color: $comment-odd-header-bg;
    }
    .comments__email {
      width: 100%;
      color: $comment-odd-email-color;
      font-size: 24px;
      padding: 25px;
      word-wrap: break-word;
    }
    .comments__message {
      word-wrap: break-word;
      padding: 0 25px 25px 25px;
    }
  }
  .comments__item {
    padding-bottom: 30px;

  }
  //.comments__item:nth-child(even) div {
  .comment__even {
    background-color: $comment-even-bg;
    color: $comment-even-comment-color;
    font-size: 22px;

    .comments__name {
      font-size: 24px;
      color: $comment-even-name-color;
    }
    .comments__header {
      padding: 15px;
      background-color: $comment-even-header-bg;
    }
    .comments__email {
      width: 100%;
      color: $comment-even-email-color;
      font-size: 24px;
      padding: 25px;
      word-wrap: break-word;
    }
    .comments__message {
      padding-bottom: 35px;
      word-wrap: break-word;
    }
  }
}

// Footer
.footer {
  min-height: 120px;
  background-color: $footer-bg;

  .logo {
    display: inline-block;
    overflow: hidden;
    padding-top: 35px;


    a, a:hover {
      color: inherit;
    }
    .logo__name {
      display: inline-block;
      font-size: 32px;
      color: $text-color-light;
      vertical-align: top;
      padding: 0 15px;
    }
    .logo__image {
      display: inline-block;
      width: 50px;
    }
  }
  .social {
    vertical-align: top;
    display: inline-block;
    padding-top: 35px;

    a {
      text-decoration: none;
      color: $social-color;
    }
    .social__fb {
      display: inline-block;
      background-color: $social-bg;
      width: 45px;
      height: 45px;
      border: 3px solid $social-border;
      border-radius: 27px;
      font-size: 22px;
      text-align: center;
      margin-left: 25px;

      i {
        line-height: 1.8;
      }
     }
    .social__vk {
      display: inline-block;
      background-color: $social-bg;
      width: 45px;
      height: 45px;
      border: 3px solid $social-border;
      border-radius: 27px;
      font-size: 22px;
      text-align: center;

      i {
        line-height: 1.8;
      }
    }
  }
}

// Errors
form {
  input.error, textarea.error {
    border-color: $required-color;
  }
}
label.required:after {
  display: inline-block;
  position: absolute;
  content: '*';
  color: $required-color;
  padding-left: 8px;
}
span.error {
  position: absolute;
  color: $required-color;
  padding-top: 5px;
}

[v-cloak] {
  display: none;
}

// Responsive styles
@import "responsive";